@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .article h1 {
    @apply text-3xl font-bold py-2
  }

  .article h2 {
    @apply text-2xl font-bold py-2
  }

  .article h3 {
    @apply text-xl font-bold py-2
  }

  .article pre {
    @apply text-green-500 bg-gray-100 my-4 p-2
  }

  .article blockquote {
    @apply my-4 border-l-4 bg-gray-200 text-gray-600 border-amber-500 py-2
  }
}